html{
    width: 200px;
    height: 200px;
    background-color: #254E70;
}

.container {
    text-align: center;
}

#timer {
    text-align: center;
    font-size: 24px;
    margin-top: 5px; 
    color:#003049;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#decrement-count{
    text-align: center;
}


.buttons {
    text-align: center;
}

.buttons button {
    display: inline-block; 
    margin: 0 10px;
    margin-top: 5px;
    border-radius: 20%;

}

body button {
  background-color: #37718E;
  border-radius: 3px;
  border: 1px solid #37718E;
  box-shadow: rgba(92, 143, 158, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

body button:hover,
body button:focus {
  background-color: #003049;
  color: #2c5777;
}

body button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

body button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}